@using BookStore.Web.Models
@using Microsoft.AspNet.Identity;
@model BookStore.Web.Models.Cart

@{
    ViewBag.Title = "Cart Summary";
}

<div class="panel panel-default col-sm-8 col-sm-push-2">
    <div class="panel-body">
        <h2>Shopping Cart</h2>
        @if (Model.Items.Count == 0)
        {
            <div class="top-gap-md">No items in the cart</div>
        }
        else
        {
            <table class="table table-condensed table-hover">
                <thead>
                    <tr>
                        <th class="text-center">Name</th>
                        <th class="text-center hidden-xs">Price</th>
                        <th class="text-center">Quantity</th>
                        <th class="text-center">Subtotal</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (LineItem item in Model.Items)
                    {
                        <tr>
                            <td class="text-center">@item.Book.Name</td>
                            <td class="text-center hidden-xs">@item.Book.Price.ToString("c")</td>
                            <td class="text-center">@item.Quantity</td>
                            <td class="text-center">
                                <span class="price-label">@((item.Book.Price * item.Quantity).ToString("c"))</span>
                            </td>
                            <td>
                                @Html.ActionLink("Remove", "RemoveFromCart", "Cart",
                                new { bookId = item.Book.BookID }, new { @class = "btn btn-warning btn-xs" })
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td class="text-right visible-xs" colspan="2">Total (@Model.Items.Sum(x => x.Quantity) Items):</td>
                        <td class="text-right hidden-xs" colspan="3">Total (@Model.Items.Sum(x => x.Quantity) Items):</td>
                        <td class="text-center">
                            <span class="price-label">@Model.CalculateTotal().ToString("c")</span>
                        </td>
                        <td></td>
                    </tr>
                </tfoot>
            </table>

            <div class="col-sm-6 top-gap-sm text-right">
                @Html.ActionLink("Continue shopping", "List", "Book", null, new
           {
               @class = "btn btn-primary visible-lg-inline-block visible-md-inline-block visible-sm-inline-block visible-xs-block"
           })
            </div>
            <div class="col-sm-6 top-gap-sm">
                @Html.ActionLink("Proceed to checkout", "CheckOut", "Cart",
                   new { userId = HttpContext.Current.User.Identity.GetUserId() },
                   new { @class = "btn btn-primary visible-lg-inline-block visible-md-inline-block visible-sm-inline-block visible-xs-block" })
            </div>
        }
    </div>
</div>

