@model BookStore.Web.Models.PagingInfo 

@{
    ViewBag.Title = "Books";
}

<div class="col-sm-3">
    @Html.Action("Menu", "Nav")
</div>


<div class="col-sm-8">
    @if (Model.Books.Count() == 0)
    {
        <div>Your search <strong>"@Model.SearchText"</strong> did not match any books</div>
    }

    @foreach (var book in Model.Books)
    {
        @Html.Partial("BookInfo", book)
    }

    <div class= @(Model.TotalPages == 1 ? "hidden" : "")>
        @Html.PageLinks(Model.CurPage, Model.TotalPages, x => Url.Action("List",
        new { page = x, category = Model.CurCategory, searchText = Model.SearchText }))
    </div>
</div>


